<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index-style.css" />
    <title>Gameku</title>
  </head>
  <body>
    <div class="add-player">
      <form action="/addPlayer" method="post">
        <h3>Ayo Bermain</h3>
        <p>Masukan nama sebelum bermain</p>
        <input type="text" name="name" id="name" placeholder="Masukan Nama.." />
        <input type="submit" value="Go" class="btn-submit" />
      </form>
    </div>
  </body>
</html>
